
html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 50px 20px;
    background-color: #ffffff;
    color: #1f2328;
    height: 120vh;
}

.hero {
    text-align: center;
    margin-bottom: 60px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hero p {
    color: #636c76;
    font-size: 20px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    height: 50px;
}

.card {
    flex: 1;
    border: 1px solid #d0d7de;
    border-radius: 10px;
    padding: 24px;
    padding-bottom: 110%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(31, 35, 40, 0.2);
}

.card.enterprise {
    border: 2px solid #0969da; 
}

.recommended-tag {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0969da;
    color: white;
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.card-header h2 {
    margin: 0;
    font-size: 24px;
}

.price {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.price span {
    font-size: 16px;
    font-weight: normal;
    color: #636c76;
}

.features {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    font-size: 14px;
    line-height: 2;
}

button {
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.black-btn {
    background-color: #1f2328;
    color: white;
    border: 1px solid #1f2328;
    
}

.outline-btn {
    background-color: white;
    color: #1f2328;
    border: 1px solid #d0d7de;
}

.card button,
.btn-group button {
    width: 100%;
}
.header-logo {
    width: 32px;
    height: 32px;
}


@media (max-width: 800px) {
    .pricing-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
        max-width: 400px;
    }
}
