
body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    min-height: 100vh;      
}

.main-container {
    display: flex;
    width: 100%;          
    max-width: 900px;     
    align-items: center;
    flex: 1;             
    padding: 20px;      
    box-sizing: border-box;
}

.left-box {
    width: 50%;
    padding-right: 30px;
}

img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.left-box p {
    font-size: 24px;
    line-height: 1.2;
}

.right-box {
    width: 400px;
    text-align: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    box-sizing: border-box; 
    font-size: 16px;
}

.login-btn {
    width: 100%;
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.forgot {
    display: block;
    margin-top: 15px;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #dadde1;
}

.create-btn {
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.bottom-text {
    margin-top: 25px;
    font-size: 14px;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;
    margin-top: 50px;
}